html, body {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
#head {
	width: 224px;
	height: 69px;
	background: url(img/logo.gif);
	margin-left: auto;
	margin-right: auto;
}
#searchFormHtml {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#searchFormButton {
	margin-top: 20px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	top: -40px;
	position: relative;
}
#help {
	position: relative;
	z-index: 20;
	top: -27px;
	left: 670px;
	font-family: 'Oswald', sans-serif;
	background-color: #ccc;
	color: #eee;
	width: 20px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
}
#help:hover {
	background-color: #ddd;
}
#searchTables {
	width: 480px;
	min-height: 170px;
}
#searchTables div {
	min-width: 150px;
	float: left;
}
#searchSQL div {
	float: left;
	margin-left: 20px;
}
#userinfo {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background-color: #eee;
	border-bottom-left-radius: 10px;
	border: 1px #ccc solid;
	border-top: none;
	border-right: none;
	opacity: 0.5;
}
#uic {
	padding: 10px;
}
