<div class="panel panel-default" ng-repeat="cust in value.rows">
  <div class="panel-heading">Customer: <strong>{{cust.customer}}</strong></div>
  <div class="panel-body">
	<div class="row">
	  <div class="col-md-4">CID:</div>
	  <div class="col-md-8">{{cust.cid}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Phone:</div>
	  <div class="col-md-8">{{cust.phone}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Address:</div>
	  <div class="col-md-8">{{cust.addr_1}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Town:</div>
	  <div class="col-md-8">{{cust.town}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Postcode:</div>
	  <div class="col-md-8">{{cust.postcode}}</div>
	</div>
	<a href="http://{{row.system}}.elogbooks.net/admin/mg-customers.php?ccid={{cust.cid}}" target="_blank">Watch in ElogBooks System</a>
  </div>
</div>