<div class="panel panel-default" ng-repeat="jobs in value.rows">
  <div class="panel-heading">Job: <strong>{{jobs.jid}}</strong></div>
  <div class="panel-body">
	<div class="row">
	  <div class="col-md-4">Description:</div>
	  <div class="col-md-8">{{jobs.description}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Job Type:</div>
	  <div class="col-md-8">{{jobs.job_type}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Priority:</div>
	  <div class="col-md-8">{{jobs.priority}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Status:</div>
	  <div class="col-md-8">{{jobs.stt}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Reported by:</div>
	  <div class="col-md-8">{{jobs.rep_by}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Engineer ID:</div>
	  <div class="col-md-8">{{jobs.eid}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Created:</div>
	  <div class="col-md-8">{{jobs.created}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Updated:</div>
	  <div class="col-md-8">{{jobs.updated}}</div>
	</div>
	<a href="http://{{row.system}}.local/admin/mg-jobs.php?cjid={{jobs.jid}}" target="_blank">Watch in ElogBooks System</a> - 
	<a href="http://{{row.system}}.local/helpdesk/hd-calls.php?jid={{jobs.jid}}" target="_blank">Watch in Helpdesk</a>
   </div>
</div>