	<link href="style/css/login.css" rel='stylesheet' type='text/css'>
    <div class="container" ng-controller="loginController">
      <form class="form-signin" role="form" ng-show="loginload">
      	<p ng-show="loginfailed" class="bg-danger" style="padding: 10px; text-align: center;">Wrong username or password</p>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="username" ng-model="data.user" class="form-control" placeholder="Username" required autofocus>
        <input type="password" ng-model="data.pass" class="form-control" placeholder="Password" required>
		<select class="form-control" ng-model="data.systemname" required>
			<option ng-value="sys.system" ng-repeat="sys in systems | orderBy: 'system'">{{sys.system}}</option>
		</select>
		<br />
        <button class="btn btn-lg btn-primary btn-block" ng-click="login(data)" type="submit">Sign in</button>
      </form>
      <div ng-hide="loginload" class="form-signin" >
      		Please wait..
      </div>
    </div>
