<div class="panel panel-default" ng-repeat="serv in value.rows">
  <div class="panel-heading">Service Provider: <strong>{{serv.name}}</strong></div>
  <div class="panel-body">
	<div class="row">
	  <div class="col-md-4">SID:</div>
	  <div class="col-md-8">{{serv.sid}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Email:</div>
	  <div class="col-md-8">{{serv.email}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Phone:</div>
	  <div class="col-md-8">{{serv.phone}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Contact:</div>
	  <div class="col-md-8">{{serv.contact}}</div>
	</div>
	<a href="http://{{row.elogbooks.net}}.local/admin/mg-service.php?csid={{serv.sid}}" target="_blank">Watch in ElogBooks System</a>
  </div>
</div>