<div class="panel panel-default" ng-repeat="user in value.rows">
  <div class="panel-heading">User: <strong>{{user.name}}</strong></div>
  <div class="panel-body">
	<div class="row">
	  <div class="col-md-4">UserID:</div>
	  <div class="col-md-8">{{user.uid}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Email:</div>
	  <div class="col-md-8">{{user.email}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Phone:</div>
	  <div class="col-md-8">{{user.phone}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Engineer:</div>
	  <div class="col-md-8">{{user.eng}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Active:</div>
	  <div class="col-md-8">{{user.stt}}</div>
	</div>
	<div class="row">
	  <div class="col-md-4">Failed logins:</div>
	  <div class="col-md-8">{{user.fla}} <span ng-show="user.fla == 3 && user.stt == 'A'"><a href ng-click="unlock(user.uid, row.system)">Unlock</a></span></div> 
	</div>
	<div style="float: left;">
		<a href="http://{{row.system}}.elogbooks.net/admin/mg-users.php?cuid={{user.uid}}" target="_blank">Watch in ElogBooks System</a>
	</div>
	<div style="float: right;">
		<a href ng-click="loadPriv(user.uid, row.system)" data-toggle="modal" data-target="#priv_{{user.uid}}">Watch privileges</a>
	</div>
	<br style="clear: all;" />
  </div>
	<!-- Modal -->
	<div class="modal fade" id="priv_{{user.uid}}" tabindex="-1" role="dialog" aria-labelledby="priv_{{user.uid}}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <h4 class="modal-title" id="helpModalLabel">Privileges for {{user.name}}</h4>
				</div>
				<div class="modal-body">
					The user has following privileges:
					<hr />
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Privilege</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(pkey, privvalue) in userprivilege | orderBy: 'privilege'">
								<td>{{$index}}</td>
								<td>{{privvalue.privilege}}</td>
								<td><a href ng-if="privvalue.value == true" ng-click="updatePriv(user.uid, row.system, privvalue.privilege)">Delete</a><a href ng-if="privvalue.value == false" ng-click="updatePriv(user.uid, row.system, privvalue.privilege)">Add</a></td>
							</tr>
						</tbody>
					</table>
					<a href>Add Privilege</a>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				 </div>
			</div>
		</div>
	</div>
</div>
